<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="CompanyFolder" Name="My Company">
        <Directory Id="INSTALLLOCATION" Name="$safeprojectname$">
          <Merge Id="$safeprojectname$MM" SourceFile="$(var.$safeprojectname$MM.TargetPath)" DiskId="1" Language="1033"/>
        </Directory>
      </Directory>
    </StandardDirectory>
    <Feature Id="$safeprojectname$" Title="$safeprojectname$" Description="Installs all the files needed for $safeprojectname$" Level="1" AllowAdvertise="no" ConfigurableDirectory="INSTALLLOCATION">
      <MergeRef Id="$safeprojectname$MM"/>
      <ComponentGroupRef Id="$safeprojectName$Lib"/>
      <!-- Uncomment the below line to pull in IIS Metadata.  Otherwise delete if not needed -->
      <!--<ComponentGroupRef Id="webSite" />-->
    </Feature>
  </Fragment>
</Wix>