<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <!-- 
  MSIProductVersion is defined in $safeprojectname$.wixproj as 0.0.1 for local desktop builds.  
  You should pass in the MSBuild Property 'MSIProductVersion' to override it during an automated build.
  See http://msdn.microsoft.com/en-us/library/windows/desktop/aa370859%28v=vs.85%29.aspx for information on allowable values.
  
  The Product@Id attribute (ProductCode Property) will be a random GUID for each build.  This is to support "Major Upgrades" where each install 
  is a seamless uninstall/reinstall.
  -->
<Package Name="$safeprojectname$" Language="1033" Version="$(var.MSIProductVersion)" Manufacturer="$safeprojectname$" UpgradeCode="$guid3$">
    <MediaTemplate EmbedCab="yes" />
    <!-- Major Upgrade Rule to disallow downgrades -->
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <!-- Launch Condition Examples at http://wixtoolset.org/documentation/manual/v3/customactions/wixnetfxextension.html -->
    <!-- Uncomment below two lines to require .NET 4.8 or Later to install -->
    <!-- <PropertyRef Id="WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED" /> -->
    <!-- <Launch Condition="Installed OR WIX_IS_NETFRAMEWORK_48_OR_LATER_INSTALLED" Message="[ProductName] requires .NET Framework 4.8 or later." /> -->
    <!-- Include User Interface Experience -->
    <Icon Id="Icon.ico" SourceFile="Resources\Icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Icon.ico"></Property>
    <UIRef Id="UI"/>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="CompanyFolder" Name="My Company">
        <Directory Id="INSTALLLOCATION" Name="$safeprojectname$"/>
      </Directory>
    </StandardDirectory>
    <Feature Id="$safeprojectname$" Title="$safeprojectname$" Description="Installs all the files needed for $safeprojectname$" Level="1" AllowAdvertise="no" ConfigurableDirectory="INSTALLLOCATION">
      <ComponentGroupRef Id="$safeprojectname$Lib"/>
      <!-- Uncomment the below line to pull in IIS Metadata.  Otherwise delete if not needed -->
      <!--<ComponentGroupRef Id="webSite" />-->
    </Feature>
  </Package>
</Wix>