<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define SourceDir="..\..\deploy"?>
  <Module Id="CustomTablesDesignerMM" Language="1033" Version="1.0.0.0">
    <Package Id="b5c165a2-d194-4850-9f58-f6d06433ed20" Manufacturer="CustomTablesDesignerMM" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Component Id="owcFD788C2B5D9AD56B89FDAEFA68376CBE" Guid="d9bc7d81-5974-a70d-aaf6-b63f71c45d2b">
          <File Id="owfFD788C2B5D9AD56B89FDAEFA68376CBE" Source="$(var.SourceDir)\CustomTablesDesigner.dll" KeyPath="yes">
          </File>
        </Component>
      </Directory>
    </Directory>
  </Module>
</Wix>