<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="IsWiX" Language="1033" Version="$(var.MSIProductVersion)" Manufacturer="ISWIX LLC" UpgradeCode="9b70a6f1-4a3e-4955-8c34-2d354042b87e">
    <Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" />
    <MediaTemplate EmbedCab="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." Schedule="afterInstallValidate" MigrateFeatures="no" />

    <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED"/>
    <Condition Message="[ProductName] requires .NET Framework 4.6.2 or later.">Installed OR WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED</Condition>

    <DirectoryRef Id="INSTALLLOCATION"/>

    <Icon Id="Icon.ico" SourceFile="Resources\Icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Icon.ico"></Property>
    <UIRef Id="UI"/>
    <UIRef Id="WixUI_ErrorProgressText"/>
    
    <!-- Used by AddInMM  Goes here due to merge constraints -->
    <PropertyRef Id="VS2013_EXTENSIONS_DIR"/>
    <PropertyRef Id="VS2015_EXTENSIONS_DIR"/>
    <PropertyRef Id="VS2017_EXTENSIONS_DIR"/>
    <PropertyRef Id="VS2019_EXTENSIONS_DIR"/>

    <CustomActionRef Id="VS2013Setup" />
    <CustomActionRef Id="VS2015Setup" />
    <CustomActionRef Id="VS2017Setup" />
    <CustomActionRef Id="VS2019Setup" />

  </Product>
</Wix>