<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  <UI Id="ProgressText">
		  <ProgressText Action="AppSearch" Template="Property: [1], Signature: [2]" Message="Searching for installed applications" />
		  <ProgressText Action="BindImage" Template="File: [1]" Message="Binding executables" />
		  <ProgressText Action="CCPSearch" Message="Unregistering modules" />
		  <ProgressText Action="InstallValidate" Message="Validating install" />
		  <ProgressText Action="InstallFiles" Template="File: [1],  Directory: [9],  Size: [6]" Message="Copying new files" />
		  <ProgressText Action="InstallAdminPackage" Template="File: [1], Directory: [9], Size: [6]" Message="Copying files to the network" />
		  <ProgressText Action="FileCost" Message="Computing space requirements" />
		  <ProgressText Action="CostInitialize" Message="Computing space requirements" />
		  <ProgressText Action="CostFinalize" Message="Computing space requirements" />
		  <ProgressText Action="PublishComponents" Template="Component ID: [1], Qualifier: [2]" Message="Publishing qualified components" />
		  <ProgressText Action="PublishFeatures" Template="Feature: [1]" Message="Publishing product features" />
		  <ProgressText Action="PublishProduct" Message="Publishing product information" />
		  <ProgressText Action="RegisterClassInfo" Template="Class ID: [1]" Message="Registering class servers" />
		  <ProgressText Action="RegisterExtensionInfo" Template="Extension: [1]" Message="Registering extension servers" />
		  <ProgressText Action="RegisterMIMEInfo" Template="MIME Content Type: [1], Extension: [2]" Message="Registering MIME info" />
		  <ProgressText Action="RegisterProgIdInfo" Template="ProgID: [1]" Message="Registering program identifiers" />
		  <ProgressText Action="RegisterTypeLibraries" Template="LibID: [1]" Message="Registering type libraries" />
		  <ProgressText Action="CreateShortcuts" Template="Shortcut: [1]" Message="Creating shortcuts" />
		  <ProgressText Action="MoveFiles" Template="File: [1],  Directory: [9],  Size: [6]" Message="Moving files" />
		  <ProgressText Action="PatchFiles" Template="File: [1],  Directory: [2],  Size: [3]" Message="Patching files" />
		  <ProgressText Action="ProcessComponents" Message="Updating component registration" />
		  <ProgressText Action="RegisterComPlus" Template="AppId: [1]{{, AppType: [2], Users: [3], RSN: [4]}}" Message="Registering COM+ Applications and Components" />
		  <ProgressText Action="RegisterFonts" Template="Font: [1]" Message="Registering fonts" />
		  <ProgressText Action="RegisterProduct" Template="[1]" Message="Registering product" />
		  <ProgressText Action="RegisterUser" Template="[1]" Message="Registering user" />
		  <ProgressText Action="RemoveDuplicateFiles" Template="File: [1], Directory: [9]" Message="Removing duplicated files" />
		  <ProgressText Action="RemoveEnvironmentStrings" Template="Name: [1], Value: [2], Action [3]" Message="Updating environment strings" />
		  <ProgressText Action="RemoveExistingProducts" Template="Application: [1], Command line: [2]" Message="Removing applications" />
		  <ProgressText Action="RemoveFiles" Template="File: [1], Directory: [9]" Message="Removing files" />
		  <ProgressText Action="RemoveFolders" Template="Folder: [1]" Message="Removing folders" />
		  <ProgressText Action="MigrateFeatureStates" Template="Application: [1]" Message="Migrating feature states from related applications" />
		  <ProgressText Action="LaunchConditions" Message="Evaluating launch conditions" />
		  <ProgressText Action="InstallServices" Template="Service: [2]" Message="Installing new services" />
		  <ProgressText Action="InstallODBC" Message="Installing ODBC components" />
		  <ProgressText Action="FindRelatedProducts" Template="Found application: [1]" Message="Searching for related applications" />
		  <ProgressText Action="DuplicateFiles" Template="File: [1],  Directory: [9],  Size: [6]" Message="Creating duplicate files" />
		  <ProgressText Action="DeleteServices" Template="Service: [1]" Message="Deleting services" />
		  <ProgressText Action="CreateFolders" Template="Folder: [1]" Message="Creating folders" />
		  <ProgressText Action="AllocateRegistrySpace" Template="Free space: [1]" Message="Allocating registry space" />
		  <ProgressText Action="RemoveIniValues" Template="File: [1],  Section: [2],  Key: [3], Value: [4]" Message="Removing INI file entries" />
		  <ProgressText Action="RemoveODBC" Message="Removing ODBC components" />
		  <ProgressText Action="RemoveRegistryValues" Template="Key: [1], Name: [2]" Message="Removing system registry values" />
		  <ProgressText Action="RemoveShortcuts" Template="Shortcut: [1]" Message="Removing shortcuts" />
		  <ProgressText Action="RMCCPSearch" Message="Searching for qualifying products" />
		  <ProgressText Action="SelfRegModules" Template="File: [1], Folder: [2]" Message="Registering modules" />
		  <ProgressText Action="SelfUnregModules" Template="File: [1], Folder: [2]" Message="Unregistering modules" />
		  <ProgressText Action="SetODBCFolders" Message="Initializing ODBC directories" />
		  <ProgressText Action="StartServices" Template="Service: [1]" Message="Starting services" />
		  <ProgressText Action="StopServices" Template="Service: [1]" Message="Stopping services" />
		  <ProgressText Action="UnpublishComponents" Template="Component ID: [1], Qualifier: [2]" Message="Unpublishing Qualified Components" />
		  <ProgressText Action="UnpublishFeatures" Template="Feature: [1]" Message="Unpublishing product features" />
		  <ProgressText Action="UnregisterClassInfo" Template="Class ID: [1]" Message="Unregister class servers" />
		  <ProgressText Action="UnregisterComPlus" Template="AppId: [1]{{, AppType: [2]}}" Message="Unregistering COM+ Applications and Components" />
		  <ProgressText Action="UnregisterExtensionInfo" Template="Extension: [1]" Message="Unregistering extension servers" />
		  <ProgressText Action="UnregisterFonts" Template="Font: [1]" Message="Unregistering fonts" />
		  <ProgressText Action="UnregisterMIMEInfo" Template="MIME Content Type: [1], Extension: [2]" Message="Unregistering MIME info" />
		  <ProgressText Action="UnregisterProgIdInfo" Template="ProgID: [1]" Message="Unregistering program identifiers" />
		  <ProgressText Action="UnregisterTypeLibraries" Template="LibID: [1]" Message="Unregistering type libraries" />
		  <ProgressText Action="WriteEnvironmentStrings" Template="Name: [1], Value: [2], Action [3]" Message="Updating environment strings" />
		  <ProgressText Action="WriteIniValues" Template="File: [1],  Section: [2],  Key: [3], Value: [4]" Message="Writing INI file values" />
		  <ProgressText Action="WriteRegistryValues" Template="Key: [1], Name: [2], Value: [3]" Message="Writing system registry values" />
		  <ProgressText Action="InstallSFPCatalogFile" Template="File: [1],  Dependencies: [2]" Message="Installing system catalog" />
		  <ProgressText Action="GenerateScript" Template="[1]" Message="Generating script operations for action:" />
		  <ProgressText Action="caRemoveVRoots" Message="Removing IIS Virtual Roots..." />
		  <ProgressText Action="caCreateVRoots" Message="Creating IIS Virtual Roots..." />
		  <ProgressText Action="Advertise" Message="Advertising application" />
		  <ProgressText Action="Rollback" Template="[1]" Message="Rolling back action:" />
		  <ProgressText Action="RollbackCleanup" Template="File: [1]" Message="Removing backup files" />
		  <ProgressText Action="UnmoveFiles" Template="File: [1], Directory: [9]" Message="Removing moved files" />
		  <ProgressText Action="UnpublishProduct" Message="Unpublishing product information" />
		  <ProgressText Action="ISLockPermissionsCost" Message="Gathering permissions information for objects..." />
		  <ProgressText Action="ISLockPermissionsInstall" Message="Applying permissions information for objects..." />
	  </UI>
	  </UI>
  </Fragment>
</Wix>
