<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define ComponentRules="OneToOne"?>
	<!-- SourceDir instructs IsWiX the location of the directory that contains files for this merge module -->
	<?define SourceDir="..\Deploy"?>
	<Module Id="IsWiXNewNewAddInMM" Language="1033" Version="1.0.0.0">
		<Package Id="{D487A781-DB05-40E7-A236-DF808C08EA53}" Manufacturer="IsWiXNewAddInMM" InstallerVersion="200" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
				<Directory Id="owdCC0971ABBFFD46D0E31D5F32146BA512" Name="IsWiXNewNewAddIn">
					<Component Id="owcDCF37AF76479F6890CE3CC76329200C3" Guid="557cad12-bf7d-686a-a9af-e27a1e44c6f0">
						<File Id="owfDCF37AF76479F6890CE3CC76329200C3" Source="$(var.SourceDir)\IsWiXNewNewAddIn\extension.vsixmanifest" KeyPath="yes">
							<CopyFile Id="dupe1a" DestinationProperty="EXTENSIONDIR2022" />
						</File>
					</Component>
					<Component Id="owc9B4BDF507607ED8A4CB6FBB7CC7635A9" Guid="abd66aaa-98e8-23b7-693e-5df6e1c28cb5">
						<File Id="owf9B4BDF507607ED8A4CB6FBB7CC7635A9" Source="$(var.SourceDir)\IsWiXNewNewAddIn\Icon.png" KeyPath="yes">
							<CopyFile Id="dupe2a" DestinationProperty="EXTENSIONDIR2022" />
						</File>
					</Component>
					<Component Id="owc8366226BB3650E325DF3CA7A8D583423" Guid="eda8d35b-6241-802a-c94a-d2f95a0473a3">
						<File Id="owf8366226BB3650E325DF3CA7A8D583423" Source="$(var.SourceDir)\IsWiXNewNewAddIn\IsWiXNewAddIn.dll" KeyPath="yes" >
							<CopyFile Id="dupe3a" DestinationProperty="EXTENSIONDIR2022" />
						</File>
					</Component>
					<Component Id="owc7A3369B41CDC9507BF0458D7064F96E1" Guid="3efea41f-6dd6-1563-8036-e132e6d58e3c">
						<File Id="owf7A3369B41CDC9507BF0458D7064F96E1" Source="$(var.SourceDir)\IsWiXNewNewAddIn\IsWiXNewAddIn.pkgdef" KeyPath="yes">
							<CopyFile Id="dupe4a" DestinationProperty="EXTENSIONDIR2022" />
						</File>
					</Component>
					<Component Id="owcA3D84C2FDD6E3A32E489D5DB9716A421" Guid="46101692-4552-5f9b-acc8-f99dede113bd">
						<File Id="owfA3D84C2FDD6E3A32E489D5DB9716A421" Source="$(var.SourceDir)\IsWiXNewNewAddIn\MS-PL.txt" KeyPath="yes">
							<CopyFile Id="dupe5a" DestinationProperty="EXTENSIONDIR2022" />
						</File>

					</Component>
					<Component Id="owc5BD9A15C5AF3CEBE03E7638C32810EBF" Guid="3d68ae62-1812-f4e7-d68d-e8f8c6927357">
						<File Id="owf5BD9A15C5AF3CEBE03E7638C32810EBF" Source="$(var.SourceDir)\IsWiXNewNewAddIn\preview.png" KeyPath="yes">
							<CopyFile Id="dupe6a" DestinationProperty="EXTENSIONDIR2022" />
						</File>
					</Component>
					<Directory Id="owd4B222DA07AAB9A3CFB08DC1B1DE90776" Name="ProjectTemplates">
						<Component Id="owcCE6E393777541BC8CA0BCB321D6ACDE8" Guid="7a409616-fe43-4f70-e8a0-f43e065ef6d7">
							<File Id="owfCE6E393777541BC8CA0BCB321D6ACDE8" Source="$(var.SourceDir)\IsWiXNewNewAddIn\ProjectTemplates\IsWiXBootstrapperSolutionTemplate.zip" KeyPath="yes">
								<CopyFile Id="dupe7a" DestinationProperty="EXTENSIONPROJECTTEMPLATESDIR2022" />
							</File>
						</Component>
						<Component Id="owc328EDC9CEA8F2700278F9B75BE1826C1" Guid="7b195e40-e943-7baa-c1ac-651181377575">
							<File Id="owf328EDC9CEA8F2700278F9B75BE1826C1" Source="$(var.SourceDir)\IsWiXNewNewAddIn\ProjectTemplates\IsWiXMergeModuleProjectTemplate.zip" KeyPath="yes">
								<CopyFile Id="dupe8a" DestinationProperty="EXTENSIONPROJECTTEMPLATESDIR2022" />
							</File>
						</Component>
						<Component Id="owc1E4A88EB9B8EBC814CB3C2C2EE2763FD" Guid="12426e58-34cb-4af1-2f47-90ac42fb64b6">
							<File Id="owf1E4A88EB9B8EBC814CB3C2C2EE2763FD" Source="$(var.SourceDir)\IsWiXNewNewAddIn\ProjectTemplates\IsWiXMSISolutionTemplate.zip" KeyPath="yes">
								<CopyFile Id="dupe9a" DestinationProperty="EXTENSIONPROJECTTEMPLATESDIR2022" />
							</File>
						</Component>
				</Directory>
				</Directory>
			</Directory>
		</Directory>
		<ComponentGroupRef Id="Custom" />
		<Property Id="VS2022_EXTENSIONS_DIR" SuppressModularization="yes" />
		<SetProperty Id="EXTENSIONDIR2022" Value="[VS2022_EXTENSIONS_DIR]\IsWiX LLC\IsWiX\1.0" After="AppSearch" Sequence="both">VS2022_EXTENSIONS_DIR</SetProperty>
		<SetProperty Id="EXTENSIONPROJECTTEMPLATESDIR2022" Value="[VS2022_EXTENSIONS_DIR]\IsWiX LLC\IsWiX\1.0\ProjectTemplates" After="AppSearch" Sequence="both">VS2022_EXTENSIONS_DIR</SetProperty>
	</Module>
</Wix>