<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="CompanyFolder" Name="My Company">
          <Directory Id="INSTALLLOCATION" Name="$wixsafeprojectname$">
            <!-- Commented out for now due to bug in WiX v4 beta builds.  Will uncomment in a future release when Light.exe errors are fixed -->
            <!-- <Merge Id="$wixsafeprojectname$MM" SourceFile="$(var.$wixsafeprojectname$MM.TargetPath)" DiskId="1" Language="1033"/> -->
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="$wixsafeprojectname$" Title="$wixsafeprojectname$" Description="Installs all the files needed for $wixsafeprojectname$" Level="1" AllowAdvertise="no" ConfigurableDirectory="INSTALLLOCATION">
      <!-- Commented out for now due to bug in WiX v4 beta builds.  Will uncomment in a future release when Light.exe errors are fixed -->
      <!-- <MergeRef Id="$wixsafeprojectname$MM"/> -->
      <!-- Uncomment the below line to pull in IIS Metadata.  Otherwise delete if not needed -->
      <!--<ComponentGroupRef Id="webSite" />-->
    </Feature>
  </Fragment>
</Wix>