<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?define ComponentRules="OneToOne"?>
  <!-- SourceDir instructs IsWiX the location of the directory that contains files for this merge module -->
  <?define SourceDir="..\Deploy"?>
  <Module Id="IsWiXNewNewAddInMM" Language="1033" Version="1.0.0.0" Guid="{D487A781-DB05-40E7-A236-DF808C08EA53}" InstallerVersion="200"><SummaryInformation Manufacturer="IsWiXNewAddInMM" />
    
    <ComponentGroupRef Id="Custom" />
    <Property Id="VS2022_EXTENSIONS_DIR" SuppressModularization="yes" />
	  <Property Id="EXTENSIONDIR2022" SuppressModularization="yes" />
	  <Property Id="EXTENSIONPROJECTTEMPLATESDIR2022" SuppressModularization="yes" />
 
      <Directory Id="MergeRedirectFolder">
        <Directory Id="owd00D844FBB782F9390ED1740825A5270C" Name="IsWiX2022AddIn">
          <Component Id="owc4AAB5D2EF980D11DC5191910D7C080DE" Guid="1b2775b5-9424-320c-3999-1d9ad637ed7b">
            <File Id="owf4AAB5D2EF980D11DC5191910D7C080DE" Source="$(var.SourceDir)\IsWiX2022AddIn\extension.vsixmanifest" KeyPath="yes">
              <CopyFile Id="dupe1a" DestinationProperty="EXTENSIONDIR2022" />
            </File>
          </Component>
          <Component Id="owcE46663FDDDFBF98B1B7530702DC5EF24" Guid="e990ff02-f400-19fc-74a4-487f6f14db9a">
            <File Id="owfE46663FDDDFBF98B1B7530702DC5EF24" Source="$(var.SourceDir)\IsWiX2022AddIn\Icon.png" KeyPath="yes">
              <CopyFile Id="dupe2a" DestinationProperty="EXTENSIONDIR2022" />
            </File>
          </Component>
          <Component Id="owc34168FEBA89897945A9308E46ABFFC5F" Guid="28fd1c7d-7855-b242-cb3d-0584222569e5">
            <File Id="owf34168FEBA89897945A9308E46ABFFC5F" Source="$(var.SourceDir)\IsWiX2022AddIn\IsWiX2022AddIn.dll" KeyPath="yes">
              <CopyFile Id="dupe3a" DestinationProperty="EXTENSIONDIR2022" />
            </File>
          </Component>
          <Component Id="owc6329581135AAE490C3D49C2C035A50CF" Guid="af11f09b-1f09-08d0-e5e2-e8f83e55e873">
            <File Id="owf6329581135AAE490C3D49C2C035A50CF" Source="$(var.SourceDir)\IsWiX2022AddIn\IsWiX2022AddIn.pkgdef" KeyPath="yes">
              <CopyFile Id="dupe4a" DestinationProperty="EXTENSIONDIR2022" />
            </File>
          </Component>
          <Component Id="owc8AAB1608643A4A491950CACAAAC080C3" Guid="3e58ceea-7ebb-ae64-a45e-eb1ccc0818fe">
            <File Id="owf8AAB1608643A4A491950CACAAAC080C3" Source="$(var.SourceDir)\IsWiX2022AddIn\MS-PL.txt" KeyPath="yes">
              <CopyFile Id="dupe5a" DestinationProperty="EXTENSIONDIR2022" />
            </File>
          </Component>
          <Component Id="owc8EF11C3B0CBE0B24D59759AC30A37A8B" Guid="93b3a4c4-efb5-2759-1182-1ce197dedb76">
            <File Id="owf8EF11C3B0CBE0B24D59759AC30A37A8B" Source="$(var.SourceDir)\IsWiX2022AddIn\preview.png" KeyPath="yes">
              <CopyFile Id="dupe6a" DestinationProperty="EXTENSIONDIR2022" />
            </File>
          </Component>
          <Directory Id="owd106575434686DDC2FAE6ED43DC75AE58" Name="ProjectTemplates">
            <Component Id="owc1C5316591F94625743CC9B4E69D6AAFE" Guid="3f790fd6-c623-cc13-a26c-87195db1958e">
				<File Id="owf1C5316591F94625743CC9B4E69D6AAFE" Source="$(var.SourceDir)\IsWiX2022AddIn\ProjectTemplates\HeatWaveBootstrapperSolutionTemplate.zip" KeyPath="yes">
					<CopyFile Id="HeatWaveBootstrapperSolutionTemplate" DestinationProperty="EXTENSIONPROJECTTEMPLATESDIR2022" />
				</File>
            </Component>
            <Component Id="owc524320D322CAF05C13F07A50DF703924" Guid="963b2b4f-6454-e3f3-07ab-cc27663e444a">
				<File Id="owf524320D322CAF05C13F07A50DF703924" Source="$(var.SourceDir)\IsWiX2022AddIn\ProjectTemplates\HeatWaveMergeModuleProjectTemplate.zip" KeyPath="yes">
					<CopyFile Id="HeatWaveMergeModuleProjectTemplate" DestinationProperty="EXTENSIONPROJECTTEMPLATESDIR2022" />
				</File>
            </Component>
            <Component Id="owcB3A96FFE3BBE8FF66B15D95751E3A6B6" Guid="b6ffce84-ef4b-e9e7-cd32-6a5ac5401b51">
				<File Id="owfB3A96FFE3BBE8FF66B15D95751E3A6B6" Source="$(var.SourceDir)\IsWiX2022AddIn\ProjectTemplates\HeatWaveMSISolutionTemplate.zip" KeyPath="yes">
					<CopyFile Id="HeatWaveMSISolutionTemplate" DestinationProperty="EXTENSIONPROJECTTEMPLATESDIR2022" />
				</File>
            </Component>
            <Component Id="owc111ED0969E804F37000E0E1FC42347F8" Guid="0daf3d12-dad8-7078-ee68-47f7255898ac">
				<File Id="owf111ED0969E804F37000E0E1FC42347F8" Source="$(var.SourceDir)\IsWiX2022AddIn\ProjectTemplates\VotiveBootstrapperSolutionTemplate.zip" KeyPath="yes">
					<CopyFile Id="VotiveBootstrapperSolutionTemplate" DestinationProperty="EXTENSIONPROJECTTEMPLATESDIR2022" />
				</File>
            </Component>
            <Component Id="owc0537E22D841695EE8E0CABF9DBD07413" Guid="6bfaefa2-603b-22c2-b4b4-19a77190c4b9">
				<File Id="owf0537E22D841695EE8E0CABF9DBD07413" Source="$(var.SourceDir)\IsWiX2022AddIn\ProjectTemplates\VotiveMergeModuleProjectTemplate.zip" KeyPath="yes">
					<CopyFile Id="VotiveMergeModuleProjectTemplate" DestinationProperty="EXTENSIONPROJECTTEMPLATESDIR2022" />
				</File>
            </Component>
            <Component Id="owcC19D60E2337569D894406249653A96EC" Guid="8515ea6f-ebbd-e3f4-67de-4ac3a26442aa">
				<File Id="owfC19D60E2337569D894406249653A96EC" Source="$(var.SourceDir)\IsWiX2022AddIn\ProjectTemplates\VotiveMSISolutionTemplate.zip" KeyPath="yes">
					<CopyFile Id="VotiveMSISolutionTemplate" DestinationProperty="EXTENSIONPROJECTTEMPLATESDIR2022" />
				</File>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Module>
</Wix>