<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="$globalsafeprojectname$" Version="$(var.MSIProductVersion)" Manufacturer="$globalsafeprojectname$" UpgradeCode="$guid3$" SplashScreenSourceFile="Resources\splash.bmp">
    <BootstrapperApplication>
      <bal:WixInternalUIBootstrapperApplication LogoFile="Resources\Icon.png" Theme="standard" ThemeFile="Resources\iuipreq.thm" LocalizationFile="Resources\iuipreq.wxl"/>
    </BootstrapperApplication>
    <Chain>
 			<PackageGroupRef Id="NetFx48WebAsPrereq"/>
      <MsiPackage Id="$globalsafeprojectname$" SourceFile="$(var.$globalsafeprojectname$Package.TargetPath)" />
    </Chain>
  </Bundle>
</Wix>