<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:iis="http://wixtoolset.org/schemas/v4/wxs/iis" xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
  <Fragment>
    <ComponentGroup Id="webSite">
      <ComponentRef Id="webSite" />
    </ComponentGroup>
    <PropertyRef Id="IISMAJORVERSION" />
    <netfx:DotNetCompatibilityCheck  RuntimeType="aspnet" Version="7.0.0" Platform="$(Platform)" RollForward="latestMajor"  Property="ASPNETCOREVERSION"/>
    <Launch Condition="Installed OR IISMAJORVERSION" Message="[ProductName] requires Microsoft IIS"/>
    <Launch Condition="Installed OR ASPNETCOREVERSION" Message="[ProductName] requires ASP.NET Core 7.x (Hosting Bundle)"/>
    <DirectoryRef Id="INSTALLLOCATION">
      <Directory Id="webSite" Name="WebSite">
        <Component Id="webSite" Guid="$guid4$" KeyPath="yes">
          <iis:WebAppPool Id="webSite" Name="$safeprojectname$" Identity="applicationPoolIdentity" ManagedRuntimeVersion="v4.0" ManagedPipelineMode="Integrated"/>
          <iis:WebSite Id="webSite" SiteId="*" Description="$safeprojectname$ Web Site" Directory="webSite" ConfigureIfExists="no">
            <iis:WebAddress Id="webSite" Port="8080" />
            <iis:WebDirProperties Id="webSite" AnonymousAccess="yes" WindowsAuthentication="no" />
            <iis:WebApplication Id="webSite" WebAppPool="webSite" Name="webSite" />
          </iis:WebSite>
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>