<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ComponentRules="OneToOne"?>
  <!-- SourceDir instructs IsWiX the location of the directory that contains files for this merge module -->
  <?define SourceDir="..\Deploy"?>
  <Module Id="ExtendedWpfToolkitMM" Language="1033" Version="1.0.0.0">
    <Package Id="bb2d0736-344f-459f-82c1-c7d0ec8018a2" Manufacturer="ExtendedWpfToolkitMM" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Component Id="owc3C1C0346C36005991ED6F7FADAF49AF5" Guid="0fcabbf1-293d-508f-e3da-4b212a65fd8d">
          <File Id="owf3C1C0346C36005991ED6F7FADAF49AF5" Source="$(var.SourceDir)\Xceed.Wpf.Toolkit.dll" KeyPath="yes" />
        </Component>
      </Directory>
    </Directory>
    <ComponentGroupRef Id="Custom" />
  </Module>
</Wix>