<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2011 ISWIX LLC
Web: http://www.iswix.com
All Rights Reserved
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define SourceDir="..\..\Deploy"?>
  <Module Id="XmlEditorDesignerMM" Language="1033" Version="1.0.0.0">
    <Package Id="e99cad96-e5c9-41e7-97bb-12be68fd664c" Manufacturer="XmlEditorDesignerMM" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Component Id="owc873A6D1E46285DC1178C56A2CA3D0A4E" Guid="745c1a13-171f-eba8-1ca8-bb70ff66b1f3">
          <File Id="owf873A6D1E46285DC1178C56A2CA3D0A4E" Source="$(var.SourceDir)\ICSharpCode.AvalonEdit.dll" KeyPath="yes" />
        </Component>
        <Component Id="owcA75C358225DA6B164B9B94E25644162A" Guid="0c752f6d-15f2-e50f-b406-95c3ad570d57">
          <File Id="owfA75C358225DA6B164B9B94E25644162A" Source="$(var.SourceDir)\XmlDesignerCore.dll" KeyPath="yes" />
        </Component>
      </Directory>
    </Directory>
  </Module>
</Wix>