<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="$globalsafeprojectname$" Version="1.0.0.0" Manufacturer="$globalsafeprojectname$" UpgradeCode="$guid3$">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="Resources\EULA.rtf" LogoFile="Resources\Icon.png" />
    </BootstrapperApplicationRef>
    <Chain>
      <MsiPackage Id="$globalsafeprojectname$" SourceFile="$(var.$globalsafeprojectname$Setup.TargetPath)" />
    </Chain>
  </Bundle>
</Wix>