<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?define ComponentRules="OneToOne"?>
  <!-- SourceDir instructs IsWiX the location of the directory that contains files for this merge module -->
  <?define SourceDir="..\Deploy\IsWiXExtension"?>
  <Fragment Id="IsWiXExtension">
    <ComponentGroup Id="IsWiXExtension">
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX\.vsextension">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\.vsextension\extension.json" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX\.vsextension">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\.vsextension\string-resources.json" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\EULA.rtf" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\extension.vsixmanifest" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX\Images">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Images\MyImage.128.128.png" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\IsWiX.png" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\IsWiXExtension.deps.json" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\IsWiXExtension.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\IsWiXGlobalParams.dll" KeyPath="yes" Assembly=".net" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\MessagePack.Annotations.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\MessagePack.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.Bcl.AsyncInterfaces.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.Extensions.DependencyInjection.Abstractions.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.Extensions.DependencyInjection.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.NET.StringTools.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.ServiceHub.Framework.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.ServiceHub.Resources.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.VisualStudio.Composition.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.VisualStudio.Extensibility.Contracts.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.VisualStudio.Extensibility.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.VisualStudio.Extensibility.Editor.Contracts.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.VisualStudio.Extensibility.Framework.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.VisualStudio.Interop.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.VisualStudio.ProjectSystem.Query.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.VisualStudio.RemoteControl.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.VisualStudio.RpcContracts.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.VisualStudio.Telemetry.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.VisualStudio.Threading.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.VisualStudio.Utilities.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.VisualStudio.Utilities.Internal.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Microsoft.VisualStudio.Validation.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\MS-PL.txt" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Nerdbank.Streams.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\Newtonsoft.Json.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX\ProjectTemplates">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\ProjectTemplates\HeatWaveInternalUISolutionTemplate.zip" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX\ProjectTemplates">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\ProjectTemplates\HeatWaveMergeModuleProjectTemplate.zip" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX\ProjectTemplates">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\ProjectTemplates\HeatWaveMSISolutionTemplate.zip" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX\ProjectTemplates">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\ProjectTemplates\HeatWaveStandardBASolutionTemplate.zip" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX\ProjectTemplates">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\ProjectTemplates\VotiveBootstrapperSolutionTemplate.zip" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX\ProjectTemplates">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\ProjectTemplates\VotiveMergeModuleProjectTemplate.zip" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX\ProjectTemplates">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\ProjectTemplates\VotiveMSISolutionTemplate.zip" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX\runtimes\win\lib\netcoreapp2.0">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\runtimes\win\lib\netcoreapp2.0\System.Management.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\StreamJsonRpc.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\System.ComponentModel.Composition.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\System.Composition.AttributedModel.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\System.Composition.Convention.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\System.Composition.Hosting.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\System.Composition.Runtime.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\System.Composition.TypedParts.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\System.IO.Pipelines.dll" KeyPath="yes" />
      </Component>
      <Component Directory="ExtensionsFolder" Subdirectory="IsWiX LLC\IsWiX">
        <File Source="$(var.SourceDir)\IsWiX LLC\IsWiX\System.Management.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>