<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright (C) 2011 ISWIX LLC
Web: http://www.iswix.com
All Rights Reserved
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define SourceDir="..\..\Deploy"?>
  <Module Id="XmlEditorDesignerMM" Language="1033" Version="1.0.0.0">
    <Package Id="e99cad96-e5c9-41e7-97bb-12be68fd664c" Manufacturer="XmlEditorDesignerMM" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Component Id="owc873A6D1E46285DC1178C56A2CA3D0A4E" Guid="745c1a13-171f-eba8-1ca8-bb70ff66b1f3">
          <File Id="owf873A6D1E46285DC1178C56A2CA3D0A4E" Source="$(var.SourceDir)\ICSharpCode.AvalonEdit.dll" KeyPath="yes" />
        </Component>
        <Component Id="owc675848A23C77F45A718FDF2F184CED9E" Guid="9ba8f5e8-d869-5c13-4b67-080911ac4cc9">
          <File Id="owf675848A23C77F45A718FDF2F184CED9E" Source="$(var.SourceDir)\XmlEditorDesigner.dll" KeyPath="yes"></File>
        </Component>
      </Directory>
    </Directory>
  </Module>
</Wix>