<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define SourceDir="..\..\deploy"?>
  <Module Id="ShortCutsDesignerMM" Language="1033" Version="1.0.0.0">
    <Package Id="25a6ba6b-145a-4168-b8e6-75e4c9f29e85" Manufacturer="ShortCutsDesignerMM" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Component Id="owc5AA17827802C51F6AEE675A4501087BB" Guid="a80c13fd-21a0-6a3c-bd5a-8b99f5a59e36">
          <File Id="owf5AA17827802C51F6AEE675A4501087BB" Source="$(var.SourceDir)\ShortCutsDesigner.dll" KeyPath="yes">
          </File>
        </Component>
      </Directory>
    </Directory>
  </Module>
</Wix>