<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GlobalParams" version="1.1.0" targetFramework="net462" />
  <package id="VSSDK.DTE" version="7.0.4" targetFramework="net462" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net462" />
  <package id="VSSDK.IDE.9" version="9.0.4" targetFramework="net462" />
  <package id="VSSDK.TemplateWizardInterface" version="9.0.4" targetFramework="net462" />
  <package id="VSSDK.TemplateWizardInterface.9" version="9.0.4" targetFramework="net462" />
</packages>