<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="envdte" version="17.0.32112.339" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Interop" version="17.0.32112.339" targetFramework="net48" />
  <package id="VSSDK.DTE" version="7.0.4" targetFramework="net462" />
  <package id="VSSDK.IDE" version="7.0.4" targetFramework="net462" />
  <package id="VSSDK.IDE.9" version="9.0.4" targetFramework="net462" />
</packages>