<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define SourceDir="..\..\deploy"?>
  <Module Id="FilesAndFoldersDesignerMM" Language="1033" Version="1.0.0.0">
    <Package Id="0d82d887-653e-43b5-9fde-47d75a7261c9" Manufacturer="FilesAndFoldersDesignerMM" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Component Id="owcDD71750F3D6BC41F1355D4444CC3B794" Guid="2f9aa52a-ba55-a77f-73d1-09230b20b52d">
          <File Id="owfDD71750F3D6BC41F1355D4444CC3B794" Source="$(var.SourceDir)\FilesAndFoldersDesigner.dll" KeyPath="yes">
          </File>
        </Component>
      </Directory>
    </Directory>
  </Module>
</Wix>