<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="CompanyFolder" Name="My Company">
        <Directory Id="INSTALLLOCATION" Name="$globalsafeprojectname$">
          <Merge Id="$globalsafeprojectname$MM" SourceFile="$(var.$globalsafeprojectname$MM.TargetPath)" DiskId="1" Language="1033"/>
        </Directory>
      </Directory>
    </StandardDirectory>
    <Feature Id="$globalsafeprojectname$" Title="$globalsafeprojectname$" Description="Installs all the files needed for $globalsafeprojectname$" Level="1" AllowAdvertise="no" ConfigurableDirectory="INSTALLLOCATION">
      <MergeRef Id="$globalsafeprojectname$MM"/>
      <!-- Uncomment the below line to pull in IIS Metadata.  Otherwise delete if not needed -->
      <!--<ComponentGroupRef Id="webSite" />-->
    </Feature>
  </Fragment>
</Wix>