<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define SourceDir="..\Deploy"?>
  <Module Id="IsWiXMM" Language="1033" Version="1.0.0.0">
    <Package Id="5e52a169-36a3-4249-9bc3-746f33dcefc5" Manufacturer="IsWiXMM" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Component Id="owcA4438A641A1213607E904695886E3E2E" Guid="0ee33708-c7e8-ea49-541c-88330685a078">
          <File Id="owfA4438A641A1213607E904695886E3E2E" Source="$(var.SourceDir)\DiffPlex.dll" KeyPath="yes" />
        </Component>
        <Component Id="owc79F365426F60CB4BD1117CA4AACE12CA" Guid="e2252c94-5bc0-afc6-fa42-2bb25a9a3812">
          <File Id="owf79F365426F60CB4BD1117CA4AACE12CA" Source="$(var.SourceDir)\FireworksFramework.dll" KeyPath="yes" />
        </Component>
        <Component Id="owc86703B2304B821A42054FD71F23A59DC" Guid="e1ea7540-d959-33a8-d59b-83bf9f1ff14a">
          <File Id="owf86703B2304B821A42054FD71F23A59DC" Source="$(var.SourceDir)\IsWiX.exe" KeyPath="yes"></File>
          <Shortcut Id="IsWiX" Directory="ApplicationProgramsFolder" Name="IsWiX" Description="IsWiX" Advertise="yes" WorkingDirectory="MergeRedirectFolder" Icon="IsWiXIcon.exe">
            <Icon Id="IsWiXIcon.exe" SourceFile="$(var.SourceDir)\IsWiX.exe" />
          </Shortcut>
          <RegistryValue Id="IsWiXLocation" Action="write" Root="HKLM" Type="string" Key="SOFTWARE\ISWIXLLC\IsWiX" Name="IsWiXFilePath" Value="[#owf86703B2304B821A42054FD71F23A59DC]" />
        </Component>
        <Component Id="owcDA9DCC93C2A13B71CD6C68AFA4A7E624" Guid="8434233a-71af-ea9c-d556-a238504973c0">
          <File Id="owfDA9DCC93C2A13B71CD6C68AFA4A7E624" Source="$(var.SourceDir)\IsWiXAutomationInterface.dll" KeyPath="yes"></File>
        </Component>
        <Component Id="owcF687CD25DBEA41F3A5555729AC19B5F6" Guid="615b5678-171b-e34b-353a-6d7999a14edf">
          <File Id="owfF687CD25DBEA41F3A5555729AC19B5F6" Source="$(var.SourceDir)\Microsoft.Deployment.WindowsInstaller.dll" KeyPath="yes"></File>
        </Component>
        <Directory Id="owd878D183E2FFB0B60D5A8A3A3E2A04F73" Name="Schemas">
          <Component Id="owc878D183E2FFB0B60D5A8A3A3E2A04F73" Guid="304ea067-4ec2-47e9-9360-d2287e33d11a" KeyPath="yes">
            <File Id="owf758C6EECD752134066D453B810F89F66" Source="$(var.SourceDir)\Schemas\bal-v3.xsd" />
            <File Id="owf4936792BDD57351ADD01C2D0AD06FF7A" Source="$(var.SourceDir)\Schemas\bal-v4.xsd" />
            <File Id="owf5F69D55CD3B28280A89085CB3F4AFB60" Source="$(var.SourceDir)\Schemas\complus-v3.xsd" />
            <File Id="owfD918EA0956FC0197E92C41ECD735F03F" Source="$(var.SourceDir)\Schemas\complus-v4.xsd" />
            <File Id="owfB7F2A9A5A72F70384D69144AB8C44A27" Source="$(var.SourceDir)\Schemas\Dependency-v3.xsd" />
            <File Id="owf5A13F947B1203FB405D44532920C43FB" Source="$(var.SourceDir)\Schemas\Dependency-v4.xsd" />
            <File Id="owfAD0D437BB690AC47A7F8BF8814C8B5AC" Source="$(var.SourceDir)\Schemas\difxapp-v3.xsd" />
            <File Id="owf7B85626AB0C522ED75FE6285C4D7D426" Source="$(var.SourceDir)\Schemas\difxapp-v4.xsd" />
            <File Id="owf901EA240F3190962E2ABD561F76B2278" Source="$(var.SourceDir)\Schemas\fgappx-v3.xsd" />
            <File Id="owfB0AABC373650390A08822B498C6C2F3F" Source="$(var.SourceDir)\Schemas\fgmsix-v3.xsd" />
            <File Id="owfEB9E98C67AB22D06EA66F0775B38A8BF" Source="$(var.SourceDir)\Schemas\firewall-v3.xsd" />
            <File Id="owf3FCC74D5472300F1AB32F3425CB4D6AC" Source="$(var.SourceDir)\Schemas\firewall-v4.xsd" />
            <File Id="owf8D3AC1A04560B97233F1BBCF2A034483" Source="$(var.SourceDir)\Schemas\gaming-v3.xsd" />
            <File Id="owf809DDE3449D3AE7B1FB119B84F0C3C65" Source="$(var.SourceDir)\Schemas\http-v4.xsd" />
            <File Id="owf489F8751DB8E2B725874751863EF0D4E" Source="$(var.SourceDir)\Schemas\iis-v3.xsd" />
            <File Id="owf71B0EC9056811D79251C6EAE686A531A" Source="$(var.SourceDir)\Schemas\iis-v4.xsd" />
            <File Id="owfE204A97A88E4B1DBB763872F3CE939D5" Source="$(var.SourceDir)\Schemas\lux-v3.xsd" />
            <File Id="owfF5EE10DC021FCCC80F4DCE82A184DEEF" Source="$(var.SourceDir)\Schemas\msmq-v3.xsd" />
            <File Id="owfD3599F3A2702F798093F1F2EA3D7469F" Source="$(var.SourceDir)\Schemas\msmq-v4.xsd" />
            <File Id="owfB86E17DD791DB3CFAD3287EDCF228B46" Source="$(var.SourceDir)\Schemas\netfx-v3.xsd" />
            <File Id="owf8AF80A0DA0C4B753E5A2016A802E0C8B" Source="$(var.SourceDir)\Schemas\netfx-v4.xsd" />
            <File Id="owf922E7402B06D5C46733E88461E24E60D" Source="$(var.SourceDir)\Schemas\ps-v3.xsd" />
            <File Id="owf01976C82E1853FE1E783883B1A51E210" Source="$(var.SourceDir)\Schemas\ps-v4.xsd" />
            <File Id="owf82DC6931A17DDBB6946EFB2982FD29C0" Source="$(var.SourceDir)\Schemas\sql-v3.xsd" />
            <File Id="owfFCF80EA9CFDA5E6FA21152AAC33DF783" Source="$(var.SourceDir)\Schemas\sql-v4.xsd" />
            <File Id="owf83D7B634372422F76B0C0251FA01E97C" Source="$(var.SourceDir)\Schemas\tag-v3.xsd" />
            <File Id="owf9F51CE2CFA0853D201A2F3DF97A8BB86" Source="$(var.SourceDir)\Schemas\thmutil-v3.xsd" />
            <File Id="owfD00EAE1A85DB1591AF0931117921EA6F" Source="$(var.SourceDir)\Schemas\thmutil-v4.xsd" />
            <File Id="owf4308A6198DD85EF7CB6A91C5C4CB8AB7" Source="$(var.SourceDir)\Schemas\util-v3.xsd" />
            <File Id="owfD928F1859DCB2BD81A8F40BE7D2ACC4A" Source="$(var.SourceDir)\Schemas\util-v4.xsd" />
            <File Id="owf96BC8A67FCBB8DE8A0831E2A7AAD36D3" Source="$(var.SourceDir)\Schemas\vs-v3.xsd" />
            <File Id="owfCF54E1EA36AA0094B3D7ABCA6BC1035D" Source="$(var.SourceDir)\Schemas\vs-v4.xsd" />
            <File Id="owf9A9D1054524ACFD2E72BC80304E93890" Source="$(var.SourceDir)\Schemas\wixloc-v3.xsd" />
            <File Id="owf489567B42FF334B92AF76EC199D51BAD" Source="$(var.SourceDir)\Schemas\wixloc-v4.xsd" />
            <File Id="owf78F4B4D39C2656C2481BCB8BBE9D671A" Source="$(var.SourceDir)\Schemas\wix-v3.xsd" />
            <File Id="owf5320F280DEEE65AFCC71E7E9FF29FCD8" Source="$(var.SourceDir)\Schemas\wix-v4.xsd" />
          </Component>
        </Directory>
        <Directory Id="owd12A58CC26E75581DB42F31C9D7B4C6D5" Name="Templates">
          <Directory Id="owdC2ADFF212487B37074CE0553E0161995" Name="WiX">
            <Component Id="owcC2ADFF212487B37074CE0553E0161995" Guid="13f6be16-0de4-48dd-8416-d7532961ee9a" KeyPath="yes">
              <File Id="owfCAB721F9EE73932435FC38DAA67FB96D" Source="$(var.SourceDir)\Templates\WiX\Fragment.wxs" />
              <File Id="owfA7E3F21C77DC55A6F2523C5EBC424A3A" Source="$(var.SourceDir)\Templates\WiX\MergeModule.wxs" />
              <File Id="owf617B8C9A52D600F15DD6973F9D4FB18D" Source="$(var.SourceDir)\Templates\WiX\Product.wxs" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="IsWiX" />
      </Directory>
    </Directory>
  </Module>
</Wix>