<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define SourceDir="..\..\deploy"?>
  <Module Id="ServicesDesignerMM" Language="1033" Version="1.0.0.0">
    <Package Id="f08f6335-7431-40b1-8fc2-ed37fdc560c0" Manufacturer="ServicesDesignerMM" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Component Id="owc48F7449585373A9F7669AC10E319F507" Guid="9644d33c-8c4f-761a-5456-d37725f37944">
          <File Id="owf48F7449585373A9F7669AC10E319F507" Source="$(var.SourceDir)\ServicesDesigner.dll" KeyPath="yes">
          </File>
        </Component>
      </Directory>
    </Directory>
  </Module>
</Wix>