<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<?define ComponentRules="OneToOne"?>
	<!-- SourceDir instructs IsWiX the location of the directory that contains files for this merge module -->
	<?define SourceDir="..\Deploy"?>
	<Fragment Id="$safeprojectname$">
		<ComponentGroup Id="$safeprojectname$" Source="$(var.SourceDir)">
		  <Component Id="_$safeprojectname$_INSTALLLOCATION" Directory="INSTALLLOCATION" Guid="$guid2$" KeyPath="yes">
		    <CreateFolder />
		  </Component>
		</ComponentGroup>
	</Fragment>
</Wix>