<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<?define ComponentRules="OneToOne"?>
	<!-- SourceDir instructs IsWiX the location of the directory that contains files for this merge module -->
	<?define SourceDir="..\Deploy"?>
	<Fragment>
		<ComponentGroup Id="$safeprojectname$"/>
		<DirectoryRef Id="INSTALLLOCATION"/>
	</Fragment>
</Wix>