<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define ComponentRules="OneToOne"?>
  <!-- SourceDir instructs IsWiX the location of the directory that contains files for this merge module -->
  <?define SourceDir="..\Deploy"?>
  <Module Id="ExtendedWpfToolkitMM" Language="1033" Version="1.0.0.0">
    <Package Id="bb2d0736-344f-459f-82c1-c7d0ec8018a2" Manufacturer="ExtendedWpfToolkitMM" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Component Id="owc2295A120BB2F733D97A8B4D71B51D681" Guid="a3054625-f699-dbf2-022b-15c7ce850857">
          <File Id="owf2295A120BB2F733D97A8B4D71B51D681" Source="$(var.SourceDir)\Xceed.Wpf.AvalonDock.NET5.dll" KeyPath="yes" />
        </Component>
        <Component Id="owc81C372DE3E4A991CCFF9ADA8AC9E6A51" Guid="aec2bcdd-7388-fbef-5738-e7b5f515ccb9">
          <File Id="owf81C372DE3E4A991CCFF9ADA8AC9E6A51" Source="$(var.SourceDir)\Xceed.Wpf.AvalonDock.Themes.Aero.NET5.dll" KeyPath="yes" />
        </Component>
        <Component Id="owc0DD1881259A961619DEC968ABAFED51C" Guid="b9afa59d-d203-08cd-a22b-4a785e1371e5">
          <File Id="owf0DD1881259A961619DEC968ABAFED51C" Source="$(var.SourceDir)\Xceed.Wpf.AvalonDock.Themes.Metro.NET5.dll" KeyPath="yes" />
        </Component>
        <Component Id="owcC74CEFEA8DE20B56CFD7A92DE9A423ED" Guid="103ef1e6-68ca-6d65-1959-9872935d46b9">
          <File Id="owfC74CEFEA8DE20B56CFD7A92DE9A423ED" Source="$(var.SourceDir)\Xceed.Wpf.AvalonDock.Themes.VS2010.NET5.dll" KeyPath="yes" />
        </Component>
        <Component Id="owc0A26A2C72278D9ABC5752607D54704E3" Guid="9eeb1476-5730-88d8-a234-fd676eb84266">
          <File Id="owf0A26A2C72278D9ABC5752607D54704E3" Source="$(var.SourceDir)\Xceed.Wpf.Toolkit.NET5.dll" KeyPath="yes" />
        </Component>
      </Directory>
    </Directory>
    <ComponentGroupRef Id="Custom" />
  </Module>
</Wix>