<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="00000000-0000-0000-0000-000000000000" Name="YourProductNameHere" Language="1033" Version="1.0.0.0" Manufacturer="YourCompanyNameHere" UpgradeCode="00000000-0000-0000-0000-000000000000">
		<Package InstallerVersion="200" Compressed="yes" />
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="WixProject1">
				</Directory>
			</Directory>
		</Directory>
		<Feature Id="ProductFeature" Title="WixProject1" Level="1">
		</Feature>
	</Product>
</Wix>
