<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:vs="http://schemas.microsoft.com/wix/VSExtension" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define ComponentRules="OneToOne"?>
  <?define SourceDir="..\Deploy"?>
  <Module Id="IsWiXAddInMM" Language="1033" Version="1.0.0.0">
    <Package Id="68061036-b1d9-4092-ad3b-dc569f3dd183" Manufacturer="IsWiXAddInMM" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CommonAppDataFolder" Name="CommonAppData">
        <Directory Id="owdE9B213A8D9540270CDF1009E0D19DAF8" Name="Microsoft">
          <Directory Id="owdDFF38664BFBE702169593B3F29D0FE45" Name="MSEnvShared">
            <Directory Id="owdA7CF5CF5594ED147E14AA420C8516ADC" Name="AddIns">
              <Component Id="owc070D8EA2B3069EF11BE0789C4F740326" Guid="e3290e86-64c2-6a28-d472-7aa195bb286b">
                <File Id="owf070D8EA2B3069EF11BE0789C4F740326" Source="$(var.SourceDir)\IsWiXAddIn.dll" KeyPath="yes" />
              </Component>
              <Component Id="owcA7CF5CF5594ED147E14AA420C8516ADC" Guid="2490249b-5a19-48ea-95a7-bb7e563ef4ce" KeyPath="yes">
                <File Id="owfA9D1FB9FA8FEB487F56DA05F3A3BDB99" Source="$(var.SourceDir)\IsWiXAddIn.AddIn" />
              </Component>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="MergeRedirectFolder" />
    </Directory>
    <ComponentGroupRef Id="gacComponents" />
  </Module>
</Wix>