<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <!-- Reference Custom Components Below -->
    <ComponentGroup Id="Custom">
      <ComponentRef Id="globalparams"/>
		<ComponentRef Id="visualstudiointerop"/>
	</ComponentGroup>

    <!-- Author Custom Components Below -->
    <DirectoryRef Id="MergeRedirectFolder">

    </DirectoryRef>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="GlobalAssemblyCache" Name="GlobalAssemblyCache">
        <Component Id="globalparams" Guid="{989B53E7-AE34-4BBA-85EF-3ED88B6D769C}" Permanent="yes">
          <File Id="globalparams" Source="..\Deploy\IsWiXNewAddIn\IsWiXGlobalParams.dll" KeyPath="yes" Assembly=".net"/>
        </Component>
		  <Component Id="visualstudiointerop" Guid="{B16AE4C9-28B4-427A-842C-A4830BFD7974}" Permanent="yes">
			  <File Id="visualstudiointerop" Source="..\Deploy\IsWiXNewAddIn\Microsoft.VisualStudio.Interop.dll" KeyPath="yes" Assembly=".net"/>
		  </Component>
	  </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>