<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <?define SourceDir="..\Deploy"?>
  <Module Id="IsWiXMM" Language="1033" Version="1.0.0.0">
    <Package Id="5e52a169-36a3-4249-9bc3-746f33dcefc5" Manufacturer="IsWiXMM" InstallerVersion="200" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="MergeRedirectFolder">
        <Component Id="owcBE1ABBE4AE25F94C80505106439BBC27" Guid="24d15d39-3ed0-76f3-c06f-2885bb6d7358">
          <File Id="owfBE1ABBE4AE25F94C80505106439BBC27" Source="$(var.SourceDir)\DifferencesViewer.dll" KeyPath="yes" />
        </Component>
        <Component Id="owcA4438A641A1213607E904695886E3E2E" Guid="0ee33708-c7e8-ea49-541c-88330685a078">
          <File Id="owfA4438A641A1213607E904695886E3E2E" Source="$(var.SourceDir)\DiffPlex.dll" KeyPath="yes" />
        </Component>
        <Component Id="owcD5B80D0BEF7C1A9631C10E41656C70A8" Guid="cafa90e8-ae24-90c3-a24b-c80c62a94711">
          <File Id="owfD5B80D0BEF7C1A9631C10E41656C70A8" Source="$(var.SourceDir)\DocumentManagement.dll" KeyPath="yes" />
        </Component>
        <Component Id="owc79F365426F60CB4BD1117CA4AACE12CA" Guid="e2252c94-5bc0-afc6-fa42-2bb25a9a3812">
          <File Id="owf79F365426F60CB4BD1117CA4AACE12CA" Source="$(var.SourceDir)\FireworksFramework.dll" KeyPath="yes" />
        </Component>
        <Component Id="owc5D64E6C156499515EF85486A42983BFF" Guid="754a7f7d-72f2-d4f8-0448-8e7a8a8cdb17">
          <File Id="owf5D64E6C156499515EF85486A42983BFF" Source="$(var.SourceDir)\FireworksFramework.Interfaces.dll" KeyPath="yes" />
        </Component>
        <Component Id="owc86703B2304B821A42054FD71F23A59DC" Guid="e1ea7540-d959-33a8-d59b-83bf9f1ff14a">
          <File Id="owf86703B2304B821A42054FD71F23A59DC" Source="$(var.SourceDir)\IsWiX.exe" KeyPath="yes"></File>
          <Shortcut Id="IsWiX" Directory="ApplicationProgramsFolder" Name="IsWiX" Description="IsWiX" Advertise="yes" WorkingDirectory="MergeRedirectFolder" Icon="IsWiXIcon.exe">
            <Icon Id="IsWiXIcon.exe" SourceFile="$(var.SourceDir)\IsWiX.exe" />
          </Shortcut>
          <RegistryValue Id="IsWiXLocation" Action="write" Root="HKLM" Type="string" Key="SOFTWARE\ISWIXLLC\IsWiX" Name="IsWiXFilePath" Value="[#owf86703B2304B821A42054FD71F23A59DC]" />
        </Component>
        <Component Id="owcDA9DCC93C2A13B71CD6C68AFA4A7E624" Guid="8434233a-71af-ea9c-d556-a238504973c0">
          <File Id="owfDA9DCC93C2A13B71CD6C68AFA4A7E624" Source="$(var.SourceDir)\IsWiXAutomationInterface.dll" KeyPath="yes"></File>
        </Component>
        <Component Id="owcF687CD25DBEA41F3A5555729AC19B5F6" Guid="615b5678-171b-e34b-353a-6d7999a14edf">
          <File Id="owfF687CD25DBEA41F3A5555729AC19B5F6" Source="$(var.SourceDir)\Microsoft.Deployment.WindowsInstaller.dll" KeyPath="yes"></File>
        </Component>
        <Directory Id="owd878D183E2FFB0B60D5A8A3A3E2A04F73" Name="Schemas">
          <Component Id="owc878D183E2FFB0B60D5A8A3A3E2A04F73" Guid="27ec7e8d-f1e1-4c97-a2ac-acea8f0ea777" KeyPath="yes">
            <File Id="owfFDEE331E2DE8F1BCD7BEABD3751A01D5" Source="$(var.SourceDir)\Schemas\bal.xsd" />
            <File Id="owf80763B441A25CF22C569C01494AEE847" Source="$(var.SourceDir)\Schemas\complus.xsd" />
            <File Id="owf5A560AB272D2E105EA8974592FBE1BB3" Source="$(var.SourceDir)\Schemas\Dependency.xsd" />
            <File Id="owfA85FBD92B0B52CFB638696E7B4945064" Source="$(var.SourceDir)\Schemas\difxapp.xsd" />
            <File Id="owf54AC52DE8226F52D5D4CC4FDE7AE842A" Source="$(var.SourceDir)\Schemas\fgappx.xsd" />
            <File Id="owf1F333185A02D610AE7C0D8CCB4B62661" Source="$(var.SourceDir)\Schemas\fgmsix.xsd" />
            <File Id="owf1DC7A836EE9788AF7814C377444E70B7" Source="$(var.SourceDir)\Schemas\firewall.xsd" />
            <File Id="owf234415BB8A6767EE94672DCEEF707B49" Source="$(var.SourceDir)\Schemas\gaming.xsd" />
            <File Id="owf4805C815DD86DD358621EF0AAB60BBD2" Source="$(var.SourceDir)\Schemas\iis.xsd" />
            <File Id="owf88F93038785C653A16AE84A284AA5C63" Source="$(var.SourceDir)\Schemas\lux.xsd" />
            <File Id="owf80C92C99246CCAF880C4DC0BC2342ECD" Source="$(var.SourceDir)\Schemas\msmq.xsd" />
            <File Id="owf57CB83DED41663D4EE8497C98C65B984" Source="$(var.SourceDir)\Schemas\netfx.xsd" />
            <File Id="owfA05FB3F29601C4D94D7007B7A1DF252D" Source="$(var.SourceDir)\Schemas\ps.xsd" />
            <File Id="owfBD738245C92322AE9B05950EA6D30C16" Source="$(var.SourceDir)\Schemas\sql.xsd" />
            <File Id="owfC6C0C69D9F047EC8997E7424D41CFE38" Source="$(var.SourceDir)\Schemas\tag.xsd" />
            <File Id="owfA3C7355A175483977D378C4EFA23834C" Source="$(var.SourceDir)\Schemas\thmutil.xsd" />
            <File Id="owf341205DB09F0A6909CF5318210BCB74F" Source="$(var.SourceDir)\Schemas\util.xsd" />
            <File Id="owf07598CEBB8F6FA6FF954E365E3E79A57" Source="$(var.SourceDir)\Schemas\vs.xsd" />
            <File Id="owf13020380D3DBFA5FFBE5FC2D27113E94" Source="$(var.SourceDir)\Schemas\wix.xsd" />
            <File Id="owf52A951AD93DB9A29DE19E9D6E0AA2550" Source="$(var.SourceDir)\Schemas\wixloc.xsd" />
          </Component>
          <Directory Id="owd3F7052C8B3D8E159DE690EA2E2DEE328" Name="v4">
            <Component Id="owc3F7052C8B3D8E159DE690EA2E2DEE328" Guid="1d75efaa-a189-4bae-aff6-59bed860248e" KeyPath="yes">
              <File Id="owfC632C96DFA9A0B4630606D662393F102" Source="$(var.SourceDir)\Schemas\v4\bal.xsd" />
              <File Id="owf42A00FFC42D8F78C0DB4FA6FEDB82DC9" Source="$(var.SourceDir)\Schemas\v4\complus.xsd" />
              <File Id="owf67AAAF2183C041607A5607FAE33AAA00" Source="$(var.SourceDir)\Schemas\v4\Dependency.xsd" />
              <File Id="owfD3018102A277C2FA2CB78F5CC1258587" Source="$(var.SourceDir)\Schemas\v4\difxapp.xsd" />
              <File Id="owfA801EBF2BBF88DDF00E59C2F8154D5C9" Source="$(var.SourceDir)\Schemas\v4\firewall.xsd" />
              <File Id="owfDE6738C9C83D6969C9A96561B2676E44" Source="$(var.SourceDir)\Schemas\v4\gaming.xsd" />
              <File Id="owf83E734080C77C1F1AA9654417BB39943" Source="$(var.SourceDir)\Schemas\v4\http.xsd" />
              <File Id="owf16CF91E03179287EA2F0EC0A22B9AA3F" Source="$(var.SourceDir)\Schemas\v4\iis.xsd" />
              <File Id="owfE39664A1A5C42851054ED7875C1DD619" Source="$(var.SourceDir)\Schemas\v4\lux.xsd" />
              <File Id="owf099E6E4EF53515C3AA4C9C653794FE19" Source="$(var.SourceDir)\Schemas\v4\msmq.xsd" />
              <File Id="owfDD720A0BA07CD0E5372221BBF262A713" Source="$(var.SourceDir)\Schemas\v4\netfx.xsd" />
              <File Id="owf181B1489CF7D921DAF4DE07645C9B593" Source="$(var.SourceDir)\Schemas\v4\ps.xsd" />
              <File Id="owf072939F49FC282211704FF501AAA22CC" Source="$(var.SourceDir)\Schemas\v4\sql.xsd" />
              <File Id="owfA2825FA971336DA8A76C9A0E0781CFD0" Source="$(var.SourceDir)\Schemas\v4\tag.xsd" />
              <File Id="owf2FD06DF44CB41CD3AF5B6E4DCA9AAFA5" Source="$(var.SourceDir)\Schemas\v4\thmutil.xsd" />
              <File Id="owf3050130BA1C33426B8E5A9F320F04619" Source="$(var.SourceDir)\Schemas\v4\util.xsd" />
              <File Id="owfAA6BE3A4A6C82D84FB1F2C5E7A27EB68" Source="$(var.SourceDir)\Schemas\v4\vs.xsd" />
              <File Id="owf8CB25B1786F190A4C4F4E69DF1ACD99C" Source="$(var.SourceDir)\Schemas\v4\wix.xsd" />
              <File Id="owf66C4A60D9544CB842091B5963BDAF52A" Source="$(var.SourceDir)\Schemas\v4\wixloc.xsd" />
            </Component>
          </Directory>
        </Directory>
        <Directory Id="owd12A58CC26E75581DB42F31C9D7B4C6D5" Name="Templates">
          <Directory Id="owdC2ADFF212487B37074CE0553E0161995" Name="WiX">
            <Component Id="owcC2ADFF212487B37074CE0553E0161995" Guid="13f6be16-0de4-48dd-8416-d7532961ee9a" KeyPath="yes">
              <File Id="owfCAB721F9EE73932435FC38DAA67FB96D" Source="$(var.SourceDir)\Templates\WiX\Fragment.wxs" />
              <File Id="owfA7E3F21C77DC55A6F2523C5EBC424A3A" Source="$(var.SourceDir)\Templates\WiX\MergeModule.wxs" />
              <File Id="owf617B8C9A52D600F15DD6973F9D4FB18D" Source="$(var.SourceDir)\Templates\WiX\Product.wxs" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="IsWiX" />
      </Directory>
    </Directory>
  </Module>
</Wix>